{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <h1>Reset your password</h1>
    {% for error in errors %}
        <div class="alert alert-danger">
            <h3>{{ error.message }}</h3>
        </div>    
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            <h3>{{ message }}</h3>
        </div>
    {% endfor %}

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
