{% extends 'base.html.twig' %}

{% block body %}

    <section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Dishes</h2>
					{{ form_start(filter) }}
					<div class="row">
						<div class="col">
							{{ form_label(filter.date_filter) }}
						</div>
						<div class="col">
							{{ form_widget(filter.date_filter) }}
						</div>
						<div class="col">
							{{ form_row(filter.filter_submit) }} 
						</div>
					</div>
					{{ form_end(filter) }}
			</div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="filter " data-filter="all">All Dishes</li>
					{% for cat in cat_list %}
					<li class="filter" data-filter=".{{ cat.name|replace({' ':''}) }}">{{ cat.name }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="row playlist-area" id="Container">

            {% for dish in dishes %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.category|replace({' ':''}) }}">
					<div class="playlist-item h-100" style="max-width: 100%; height: auto;">
						<a href="{{ path('dish_single', {id : dish.id }) }}">
							<h4>{{ dish.name }}</h4>
							<br />
							<img class="h-50 border" src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}" >
						</a>
                        <p>
							<a class="btn btn-outline-danger btn-sm" href="{{ path('dish_single',{id: dish.id}) }}" role="button">Read More</a>
						</p>
						<br />
						<div class="text-justify">{{ dish.description|slice(0, 200) }}</div>
					</div>
				</div>
            {% endfor %}

			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}
	<script>
		var category = '.{{ category }}';
		
		var containerEl = document.getElementById('Container');

		{% if category != 'all' %}	
		var mixer = mixitup(containerEl, {
			load: {
				filter: category
			}
		});
		{% endif %}
	</script>
{% endblock %}