{% extends 'base.html.twig' %}

{% block body %}
<div class="container text-center">
    <h1>{{ dish.name }}</h1>
    <br />
    <div class="row alert alert-secondary">
        <div class="col-3 border-right">
            <h6>Author : </h6> {{ dish.author }}
        </div>
        <div class="col-3 border-right">
            <h6>Category : </h6> {{ dish.category }}
        </div>
        <div class="col-3 border-right">
            <h6>Created On : </h6> {{ dish.createdOn|date("d/m/Y h:i a") }}
        </div>
        <div class="col-3">
            <h6>Updated On : </h6> {{ dish.updatedOn|date("d/m/Y h:i a") }}
        </div>
    </div>
    <br />
    <img src="{{ asset('images/' ~ dish.image) }}" alt="{{ dish.name }}" style="height: 720px" />
    <br /><br />
    <p class="text-justify">{{ dish.description }}</p>
    <p class="text-justify">{{ dish.content }}</p>
    <div class="spacer-bottom"></div>
    <div class="row">
        <div class="col-4">
            <a href="{{ path('dish_list') }}" class="site-btn"><i class="fa fa-arrow-left"></i> View All</a>
        </div>
        {% if is_granted('ROLE_USER') and dish.author==app.user.username %}
        <div class="col-4">
            <a href="{{ path('dish_edit', {id: dish.id}) }}" class="site-btn sb-c2"><i class="fa fa-edit"></i> Edit</a>
        </div>
        <div class="col-4">
            <a href="{{ path('dish_delete', {id: dish.id}) }}" class="site-btn sb-c2"><i class="fa fa-trash"></i> Delete</a>
        </div>
        {% endif %}
    </div>
    <div class="spacer-bottom"></div>
    <h2>Comments</h2>
    <div class="text-left">
    {% if is_granted('ROLE_USER') %}
        {{ form(comment_form) }}
    {% else %}
        <div class="spacer-bottom"></div>
        <div class="alert alert-info text-center">
            You must be logged in to post a comment
        </div>
    {% endif %}
        
    {% if comments|length == 0 %}
        <div class="alert alert-success" role="alert">
            <div class="row"><h5>There are no comments for this post yet. Be the first one to comment!</h5></div>
        </div>
    {% else %}
        {% for comment in comments %}
        <div class="alert alert-success" role="alert">
            <div class="row"><h5 class="mb-2">{{ comment.user }}</h5></div>
            <div class="row mb-2">{{ comment.comment }}</div>
            <div class="row"><small>Commented On : {{ comment.createdOn|date("d M, Y - h:i a") }}</small></div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
